.section-home{
    margin-top:60px;
}

.sectionTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444; 
}

.sectionT{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.sectionImg{
    width: 100%;
    height: 550px;
    object-fit: cover;
}